---
import Container from "@/components/container.astro";
import Cta from "@/components/cta.astro";
import Features from "@/components/features.astro";
import Faq from "@/components/faq.astro";
import Hero from "@/components/hero.astro";
import Logos from "@/components/logos.astro";
import Howiteaser from "@/components/ui/howiteaser.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="">
  <Container>
    <Hero />
    <Features />
<div class="my-16">
  <Howiteaser />
</div>
<Logos />
    <Faq />
    <Cta />
  </Container>
</Layout>